/* use this tag to comment in css */

body {
    background-color: darkgray;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:blueviolet
}

h1{
    text-shadow:
    -1px -1px 0 black, /* start of outline, using shadow function*/
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,    /*end of outlline, using shadow function*/
    2px 2px 5px darkslateblue; /* actual shadow (direction on x axis, y axis, and length of shadow in size of px)px */

}

